<div class="contenedor-principal">

  <div class="menu-lateral">

    <div class="encabezado">
      <img class="logo" src="logo-fiduciaria.png" alt="">
    </div>

    <div class="contenedor-botones contenedor-clients row">
      <i class="far fa-user fa-2x" style="color: #538bad;"></i>
      <span style="color: #538bad; font-weight: bold; margin-left: 20px;">Clients</span>
    </div>

    <div style="padding-left: 50px;">
      <div class="row">Clients</div>
      <div class="row">Client look history</div>
      <div class="row">Emergency PIN Configuration</div>
      <div class="row">Emergency PIN History</div>
    </div>
    
  </div>

  <div class="espacio-trabajo">
    
    <div class="espacio"></div>
    <div class="contenedor-botones row">
      <button class="boton" (click)="mostrarModal(true)">+ New</button>
      <button class="boton"> Export</button>
    </div>

    <div class="row">
      <input class="input-buscar" type="text" name="sharedkey" id="sharedkey" placeholder="Enter Shared Key" /><button
        class="boton-buscar">Search</button> <button class="boton-busqueda-avanzada">Advanced Search</button>
    </div>

    <div>

      <div class="row">
        <span style="color: #538bad; font-weight: bold;" >Clients</span>
      </div>

      <table>
        <thead>
          <th>Shared Key</th>
          <th>Bussines ID</th>
          <th>E-mail</th>
          <th>Phone</th>
          <th>Data Added</th>
          <th>Edit</th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <app-modal-new-usuario></app-modal-new-usuario>
    </div>
  </div>

</div>