<div class="outer" [ngStyle]="{display:isVisible?'flex':'none'}">

    <div class="contenedor-modal">

        <div class="encabezado-modal">
            <div>
                Create New Client
            </div>
        </div>


        <div class="cuerpo-modal">
            <div>
                <label for="">Name</label> <input type="text" [(ngModel)]="cliente.businessId">
            </div>

            <div>
                <label for="">Phone</label> <input type="number" [(ngModel)]="cliente.phone">
            </div>

            <div>
                <label for="">Email</label> <input type="email" [(ngModel)]="cliente.email">
            </div>

            <div>
                <label for="">Start date</label> <input type="date" [(ngModel)]="cliente.startDate">
            </div>

            <div>
                <label for="">End date</label> <input type="date" [(ngModel)]="cliente.endDate">
            </div>
  
            <div class="boton-modal" (click)="guardarUsuario()">
                <button>Ok</button>
            </div>
            
        </div>

        

    </div>

</div>